<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Airwangga University</title>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="mahasiswa.html">Mahasiswa</a></li>
        <li><a href="dosen.html">Dosen</a></li>
      </ul>
    </nav>
    <link rel="stylesheet" href="../view/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Airwangga University</h1>
      <p>
        Selamat datang di website resmi Universitas Airwangga. Kami adalah
        institusi pendidikan tinggi yang berdedikasi untuk memberikan pendidikan
        berkualitas dan mempersiapkan lulusan yang kompeten dalam bidangnya.
      </p>
    </div>
    <div class="center">
      <footer>
      <img
        src="../public/assets/img/airwangga-logo.jpg"
        alt="Airwangga University"
        width="350"
        height="350"
      />
      <footer>
        <p>&copy; 2023 Airwangga University. Hak Cipta Dilindungi.</p>
      </footer>
    </div>

    <!-- Jika Anda memiliki script yang diperlukan untuk halaman landing, Anda bisa menyertakannya di bawah -->
    <!--<script src="../view/script.js"></script>-->
  </body>
</html>
