<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Mahasiswa</title>
    <link rel="stylesheet" href="../view/style.css" />
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="mahasiswa.html">Mahasiswa</a></li>
        <li><a href="dosen.html">Dosen</a></li>
      </ul>
    </nav>

    <div class="container">
      <h1>Data Mahasiswa</h1>
      <button onclick="fetchData()" class="center-button">
        Tampilkan Semua Mahasiswa
      </button>

      <div class="search">
        <input
          type="number"
          id="nimSearch"
          placeholder="Masukkan NIM"
          onkeyup="handleKeyUp(event)"
        />
        <button onclick="fetchDataByNim()">Cari Berdasarkan NIM</button>
      </div>

      <table id="data-table">
        <thead>
          <tr>
            <th>NIM</th>
            <th>Nama Lengkap</th>
            <th>Alamat</th>
            <th>Program Studi</th>
            <th>Fakultas</th>
            <th>Semester</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <!-- Data akan ditampilkan di sini -->
        </tbody>
      </table>

      <p id="no-data">Mahasiswa tidak ada</p>
    </div>

    <script src="../view/mahasiswa-script.js"></script>
  </body>
</html>
